---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Include MathJax for LaTeX compatibility -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <header>
        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.date | date_to_string }}</p>
    </header>
    <main>
        <div class="art">
            {{ content }}
        </div>
    </main>
    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>
