<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/service">Service</a></li>
				<li><a href="/travel">Travel</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/collaborators">Collaborators</a></li>
				<li><a href="/Erdös-Bacon">Erdös-Bacon</a></li>
				<li><a href="/art">Art</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/mathematics_for_all">Mathematics for ∀ll</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:steven_creech@brown.edu">email: steven_creech@brown.edu</a></li>
	        		<li><a href="https://stevenecreech.github.io/">stevenecreech.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
